# Server
PORT=3001

# Basic HTTP Auth
DASH_USER=bas
DASH_PASS=changeme

# Google Analytics 4
# Path to the service account JSON key file
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
# GA4 Property ID
GA4_PROPERTY_ID=368911252
